background-color:#000;
        h1 {background-color:rgb(0,0,0);
            color: rgb(147, 245, 147);
            font-family:fantasy;
        }
h2 {color: rgb(255,255,255);
background-color:rgb(0,0,0);}
p,li { color: rgb(255,255,255);
background-color:rgb(0,0,0);}
