
        h1 {background-color:rgb(148, 43, 148);
            color: rgb(147, 245, 147);
            font-family:fantasy;
        }
        h2 {color:red;}
        .index {background-color: rgb(199, 233, 245);
            color: green;
        }
        .localitation {margin-right:10px;
            height:200px;
            width:150px;
        }
        .monumentos {margin-left:10px;}
        .despedida {color:green;}
        .tabla {margin-left:30px;}
        .bus { margin-left: 100px;}
        .referencia {margin-left:100px;}
            
